a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-family: sans-serif;
}

h1 {
  text-decoration: solid;
  color: gray;
  font-size: 56px;
  font-family: serif;
}

p {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-family: sans-serif;
}

p a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-family: sans-serif;
}

p a:hover {
  text-decoration: none;
  color: red;
  font-size: 33px;
  font-family: sans-serif;
}
